<script src="/socket.io/socket.io.js"></script>
<script src="resources/js/preload.js"></script>

<script type="text/javascript" src="https://skyway.io/dist/v2/0.3/peer.js"></script>

<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script src="resources/js/three.min.js"></script>

<script src="resources/js/jquery-3.1.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvw4kMawbZSiXoHFDiDs2zxBbblWE7_cs"></script>
<script src="resources/js/location.js"></script>
<script src="resources/js/tile.js"></script>
<script src="resources/js/main.js"></script>

<script src="resources/js/7NgOx.js"></script>


<div style="display: none">
    <canvas id="textureBase"></canvas>
    <canvas id="texture"></canvas>
</div>

<div id="createAndJoin">
    <textarea id="roomId"></textarea>
    <textarea id="userName"></textarea>
    <a href="javascript: void(0)" id="createRoomBtn">CreateRoomBtn</a>
    <a href="javascript: void(0)" id="joinBtn">JoinBtn</a>
</div>

<div id="callArea">
    <textarea id="targetName"></textarea>
    <a href="javascript: void(0)" id="callRequest">Call Request</a>
    <a href="javascript: void(0)" id="callEnd">Call End</a>
</div>

<div id="roomMember"></div>

<video id="peerVideo" style="width: 480px;height: 320px" autoplay></video>

<div id="chatField">
    <div id="messages"></div>
    <div id="chatInputArea">
        <textarea id="chatInput"></textarea>
        <a href="javascript: void(0)" onclick="sendMessage()">Send</a>
    </div>
</div>

<script type="text/javascript" src="resources/js/videochat.js"></script>
<script>
    
    var roomMember = document.getElementById( 'roomMember' ),
        messages   = document.getElementById( 'messages' ),
        chatInput  = document.getElementById( 'chatInput' )
    
    socket.on( 'joined', function( members ){
        roomMember.innerHTML = ''
        main( members.position )
        members = members.member
        for( var i=0; i<members.length; i++ ){
            roomMember.innerHTML += '<div class="member">'
            + members[i]
            + '<a href="javascript: void(0)" onclick="callRequest(\'' + members[i] + '\')">Call</a>'
            + '</div>'
        }
    } )
    
    function callRequest( name ){
        socket.emit( 'callRequest', {
            target: name,
            peer: peer.id
        } )
    }
    
    function sendMessage(){
        var mes = chatInput.value
        socket.emit( 'message', mes )
    }
    
    socket.on( 'message', function( message ){
        messages.innerHTML += '<div class="message">'
        + '<div class="messageUserName">' + message.name + '@' + message.from + '</div>'
        + '<div class="content">' + message.message + '</div>' 
    } )
    
    socket.on( 'callRequest', function( config ){
        if( confirm( 'Receive ?' ) ) callStart( config.peer )
        else socket.emit( 'cancelledCallRequest', { target: config.name } )
    } )
    
    socket.on( 'cancelledCallRequest', function( e ){
        console.log( e )
    } )
    
    socket.on( 'receivedCallRequest', function( e ){
        console.log( e )
    } )
    
    var getMyLocation = new Promise( function( resolve, reject ){

        navigator.geolocation.getCurrentPosition( function( position ){

            var data = position.coords

            var lat = data.latitude,
                lng = data.longitude

            resolve( { lat: lat, lng: lng } )

        }, function( error ){

            reject( error )

        }, {
            enableHighAccuracy: false,
            timeout           : 8000,
            maximumAge        : 2000,
        } )

    } )
    
    /*
    socket.emit( 'createRoom', function(){
        roomId: 'MoriHack'
    } )
    socket.emit( 'join', {
        name: 'MareiKikukawa',
        roomId: 'MoriHack'
    } )
    
    socket.emit( 'callRequest', {
        name: 'MareiKikukawa',
        peer: peer.id
    } )
    */
    
</script>

<script>
    function hideCreateAndJoin(){
        document.getElementById( 'createAndJoin' ).style.display = 'none'
    }
    
    var inputRoomId   = document.getElementById( 'roomId' ),
        userName      = document.getElementById( 'userName' ),
        createRoomBtn = document.getElementById( 'createRoomBtn' ),
        joinBtn       = document.getElementById( 'joinBtn' )
    
    createRoomBtn.addEventListener( 'click', function(){
        if( inputRoomId.value ){
            getMyLocation.then( function( position ){
                socket.emit( 'createRoom', {
                    roomId: inputRoomId.value,
                    position: {
                        lat: position.lat,
                        lng: position.lng
                    }
                } )
                socket.emit( 'join', {
                    name: userName.value,
                    roomId: inputRoomId.value
                } )
                hideCreateAndJoin()
            } )
        }
    } )
    
    joinBtn.addEventListener( 'click', function(){
        if( inputRoomId.value ){
            socket.emit( 'join', {
                name: userName.value,
                roomId: inputRoomId.value
            } )
            hideCreateAndJoin()
        }
    } )
    
    var callRequestBtn = document.getElementById( 'callRequest' ),
        callEndBtn     = document.getElementById( 'callEnd' ),
        targetName     = document.getElementById( 'targetName' ) 
    
    callRequestBtn.addEventListener( 'click', function(){
        if( targetName.value ){
            socket.emit( 'callRequest', {
                target: targetName.value,
                peer: peer.id
            } )
        } else console.log( 'targetname is empty' )
    } )
    
    callEndBtn.addEventListener( 'click', function(){
        endCall()
    } )
    
</script>